.navbar {
  width: 100%;
  padding: 20px 0;
  background-color: $g-0;
  box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.1);
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: $g-999;
    font-weight: 700;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list + &__list {
    opacity: .6;
    margin-top: 1rem;
  }

  &__item {
    margin-right: 3rem;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
      text-align: center;
    }
  }

  &__link {
    display: block;
    transition: all .2s ease;
    color: $purple-color-100;
    // active link
    &.isActive,
    &.router-link-active,
    &.router-link-exact-active {
      text-decoration: underline;
    }
  }
}
