.status {
  margin-right: 1rem;
  &:before {
    display: inline-block;
    content: '\A';
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  }
  &.false {
    color: #ff5722;
    &:before {
      background: #ff5722;
    }
  }
  &.true {
    color: #8bc34a;
    &:before {
      background: #8bc34a;
    }
  }
}
