// Default table
table {
  width: 100%;
  line-height: 1.5em;
  border-collapse: separate;
  border-spacing: 0 3.4rem;
  thead th {
    padding: 2rem 2.2rem;
    white-space: nowrap;
    font-size: 22px;
    cursor: pointer;
  }
  td {
    padding: 2rem;
  }
  tbody tr {
    background-color: #ffffff;
    font-weight: 600;
    transition: all .25s cubic-bezier(0.02, 0.01, 0.47, 1);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.02);
    &:hover {
      box-shadow: 0 15px 15px rgba(0, 0, 0, 0.04);
      transform: translate(0, -6px);
      transition-delay: 0s !important;
    }
  }
}
